*
{
    box-sizing: border-box;
    margin: 0%;
    
}
.full
{ 
    margin:auto ;
    border: none;
    height: 100%;
    color: white;
   
}
.backimg
{
    height: 100%;
    width: 100%;
    
}

form
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 30px;
    background-color: rgba(17, 18, 19, 0.644);
    box-shadow: 20px 20px 20px 20px rgba(170, 170, 170, 0.473);
    border-radius: 15px;
}

input[type=text] ,[type=number], [type=email],select
{
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    
}
input[type=text]:hover, [type=email]:hover, input[type=number]:hover,textarea:hover
{
    background-color: rgb(201, 230, 253);
}



input[type=submit]
{
    width: 100%;
    text-align: center;
    background-color: rgba(92, 128, 248, 0.952);
    height: 35px;
    font-size: large;
    cursor: pointer;
    margin: 15px 5px 5px 5px;
    border: none;
    
}

input[type=submit]:hover
{
    font-size: larger;
    box-shadow: 0px 5px 5px 0px rgba(250, 250, 250, 0.582);
}

label
{
    font-size: large;
    padding: 10px;
    
}
input[type=radio]
{
    display: inline-block;
    margin-left: 10px; 
}
textarea
{
    width: 100%;
    resize: none;
}